<div class="itinerary-table">
  <table>
    <thead>
      <tr>
        <th>日期</th>
        <th>區域</th>
        <th>行程內容</th>
        <th>交通/備註</th>
      </tr>
    </thead>
    <tbody>
      {{ range .Site.Data.itinerary.itinerary }}
      <tr>
        <td><strong>{{ .day }}</strong><br><small>{{ .date }}</small></td>
        <td>{{ .area }}</td>
        <td>
          <strong>AM:</strong> {{ .morning }}<br>
          <strong>PM:</strong> {{ .afternoon }}<br>
          <em style="color: #666;">📸 {{ .photo_tip }}</em>
        </td>
        <td>
          <span class="tag">{{ .transport }}</span><br>
          <small>{{ .note }}</small>
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>